<h1>Edit <%= @sub.title %></h1>

<form action="<%= sub_url(@sub)%>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="hidden" name="_method" value="PATCH">
    <label for=""> Title
        <input type="text" name="sub[title]">
    </label>

     <label > Description
        <textarea name="sub[description]"  cols="30" rows="10"></textarea>
    </label>

    <input type="submit" value="Submit Changes">

</form>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <h2><%= error %></h2>
    <% end %>
<% end %>