.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    align-items: center;
    border-bottom: 1px solid  $light-gray;
    
}

.left-nav > ul,
.right-nav > ul {

    display: flex;
    align-items: center;
    

}

.left-nav > ul > li {

    font-family: $sans-serif;
    font-size: 12;
    text-transform: uppercase;
    padding: 5px 7px ;


}

.right-nav > ul > li {

    margin: 2px;

}

.right-nav > ul > li:last-of-type {
    margin-left: 3px;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

    background-color: $lightest-gray;
    

}

.left-nav span {

    margin: 10px;
    font-weight: bold;

}


.right-nav i {

    font-size: 16px;
    padding: 6px;

}